---
import Layout from "../layouts/Layout.astro";
import { createClient } from "@supabase/supabase-js";
import CardMostrarTerreno from "../components/ui/CardMostrarTerreno.astro";
import Navbar from "../components/ui/Navbar.astro";

const supabase = createClient(
  import.meta.env.PUBLIC_SUPABASE_URL,
  import.meta.env.PUBLIC_SUPABASE_KEY
);

const { data: terrenos, error } = await supabase
  .from("Terrenos")
  .select("*")
  .order("fecha", { ascending: false });
---
<Navbar/>
<Layout>
  <h1 class="text-5xl font-bold text-center mb-10 text-gray-100 font-serif">Algunos de nuestros Terrenos</h1>

  {error && <p class="text-red-500 text-center">Error al cargar terrenos</p>}

<div class:list={["grid", "grid-cols-1", "sm:grid-cols-2", "lg:grid-cols-3", "gap-8", "max-w-[1500px]", "mx-auto", "px-4"]}>

    {
      terrenos?.map((terreno) => (
        <CardMostrarTerreno
          titulo={terreno.titulo}
          descripcion={terreno.descripcion}
          precio={terreno.precio}
          imagenes={terreno.imagenes}
          medidas={terreno.medidas}
          ubicacion={terreno.ubicacion}
          fecha={terreno.fecha}
          textBoton="Me interesa"
          hrefBoton="#"

        />
      ))
    }
  </div>
</Layout>
