---
import Layout from "../layouts/Layout.astro";
import TerrenoCard from "../components/ui/CardMostrarTerreno.astro";
import { createClient } from "@supabase/supabase-js";

const supabase = createClient(
  import.meta.env.PUBLIC_SUPABASE_URL,
  import.meta.env.PUBLIC_SUPABASE_KEY
);

const { data: terrenos, error } = await supabase
  .from("Terrenos")
  .select("*")
  .order("fecha", { ascending: false });
---

<Layout>
  <h1 class="text-3xl font-bold text-center mb-10">Terrenos registrados</h1>

  {error && <p class="text-red-500 text-center">Error al cargar terrenos</p>}

  <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto">
    {
      terrenos?.map((terreno) => (
        <TerrenoCard
          titulo={terreno.titulo}
          descripcion={terreno.descripcion}
          precio={terreno.precio}
          src_imagen={terreno.src_imagen}
          medidas={terreno.medidas}
          ubicacion={terreno.ubicacion}
          fecha={terreno.fecha}
          textBoton="Me interesa"

        />
      ))
    }
  </div>
</Layout>
