---
import Button from "./Button.astro";

interface Props {
  h2Title: string;
  srcImage: string;
  description: string;
  textButton: string;
  href: string;
  class?: string;
  isGhost?: boolean;
}

const {
  h2Title,
  srcImage,
  description,
  class: className = "",
} = Astro.props as Props;
---

<article class="relative">
  <img
    class="h-screen w-full object-center"
    src={srcImage}
    alt="Imagen de batería"
  />

  <div
    class:list={[
      "absolute",
      "left-0",
      "top-1/2",
      "-translate-y-1/2",
      "flex",
      "flex-col",
      "text-white",
      "text-left",
      "px-24",
      "w-[55%]",
      "hover:scale-105",
      "transition-transform",
      "duration-150"
    ]}
  >
    <h2 class="text-7xl font-bold mb-4">{h2Title}</h2>
    <h3 class="text-xl ml-1">{description}</h3>
    <div class="flex flex-row gap-5 mt-6">
      <Button href="#" text="Ver video" isGhost={true} />
      <Button href="#" text="Ver terrenos" isGhost={false} />
    </div>
  </div>
</article>

